USE [master]
GO
/****** Object:  Database [Demo2021]    Script Date: 10.04.22 22:07:49 ******/
CREATE DATABASE [Demo2021]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demo2021', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Demo2021.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Demo2021_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Demo2021_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo2021].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo2021]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 10.04.22 22:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameCompany] [nvarchar](max) NULL,
	[AgentTypeId] [int] NULL,
	[Adress] [nvarchar](max) NULL,
	[INN] [nvarchar](max) NULL,
	[KPP] [nvarchar](max) NULL,
	[Director] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[Priority] [int] NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentTypes]    Script Date: 10.04.22 22:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentTypes](
	[Id] [int] NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AgentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductRealization]    Script Date: 10.04.22 22:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRealization](
	[Id] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[AgentId] [int] NOT NULL,
	[DateRealization] [date] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_ProductRealization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10.04.22 22:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductTypeId] [int] NULL,
	[Articul] [nvarchar](max) NULL,
	[PriceMin] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 10.04.22 22:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] NOT NULL,
	[ProductType] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agents] ON 

INSERT [dbo].[Agents] ([Id], [NameCompany], [AgentTypeId], [Adress], [INN], [KPP], [Director], [Phone], [Email], [Logo], [Priority]) VALUES (1, N'БухФлотФинансСнаб', 3, N'035823, Смоленская область, город Одинцово, проезд Будапештсткая, 61', N'4591032477', N'290155423', N'Ираклий Максимович Титова', N'8-800-121-66-81', N'elvira07@sysoeva.org', N'agent_93.png', 338)
INSERT [dbo].[Agents] ([Id], [NameCompany], [AgentTypeId], [Adress], [INN], [KPP], [Director], [Phone], [Email], [Logo], [Priority]) VALUES (2, N'ЛифтТомскСофтЦентр', 6, N'280811, Омская область, город Балашиха, пер. Сталина, 15', N'3908099185', N'747184361', N'Виноградоваа Вера Александровна', N'(812) 267-19-59', N'izolda.vorontov@lytkina.ru', N'agent_116.png', 76)
INSERT [dbo].[Agents] ([Id], [NameCompany], [AgentTypeId], [Adress], [INN], [KPP], [Director], [Phone], [Email], [Logo], [Priority]) VALUES (3, N'Транс', 3, N'508299, Кемеровская область, город Кашира, пер. Гагарина, 42', N'9604275878', N'951258069', N'Евсеева Болеслав Сергеевич', N'+7 (922) 467-93-83', N' artem.fadeev@polykov.com', N'agent_66.png', 38)
GO
SET IDENTITY_INSERT [dbo].[Agents] OFF
GO
INSERT [dbo].[AgentTypes] ([Id], [TypeName]) VALUES (1, N'ЗАО')
INSERT [dbo].[AgentTypes] ([Id], [TypeName]) VALUES (2, N'МКК')
INSERT [dbo].[AgentTypes] ([Id], [TypeName]) VALUES (3, N'МФО')
GO
INSERT [dbo].[ProductRealization] ([Id], [ProductId], [AgentId], [DateRealization], [Count]) VALUES (1, 39, 47, CAST(N'2010-05-15' AS Date), 9)
INSERT [dbo].[ProductRealization] ([Id], [ProductId], [AgentId], [DateRealization], [Count]) VALUES (2, 45, 69, CAST(N'2016-12-27' AS Date), 18)
INSERT [dbo].[ProductRealization] ([Id], [ProductId], [AgentId], [DateRealization], [Count]) VALUES (3, 28, 14, CAST(N'2018-01-14' AS Date), 9)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [ProductTypeId], [Articul], [PriceMin]) VALUES (1, N'Газета большая 1868', 1, N'27976646', CAST(902.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([Id], [ProductName], [ProductTypeId], [Articul], [PriceMin]) VALUES (2, N'Газета большая 3657', 2, N'78091245', CAST(930.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([Id], [ProductName], [ProductTypeId], [Articul], [PriceMin]) VALUES (3, N'Газета для художников 4236', 3, N'48553183', CAST(1550.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[ProductType] ([Id], [ProductType]) VALUES (1, N' Спам')
INSERT [dbo].[ProductType] ([Id], [ProductType]) VALUES (2, N' Государственная')
INSERT [dbo].[ProductType] ([Id], [ProductType]) VALUES (3, N' Художественная')
GO
ALTER TABLE [dbo].[Agents]  WITH CHECK ADD  CONSTRAINT [FK_Agents_AgentTypes] FOREIGN KEY([AgentTypeId])
REFERENCES [dbo].[AgentTypes] ([Id])
GO
ALTER TABLE [dbo].[Agents] CHECK CONSTRAINT [FK_Agents_AgentTypes]
GO
ALTER TABLE [dbo].[ProductRealization]  WITH CHECK ADD  CONSTRAINT [FK_ProductRealization_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[ProductRealization] CHECK CONSTRAINT [FK_ProductRealization_Agents]
GO
ALTER TABLE [dbo].[ProductRealization]  WITH CHECK ADD  CONSTRAINT [FK_ProductRealization_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductRealization] CHECK CONSTRAINT [FK_ProductRealization_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductType]
GO
USE [master]
GO
