<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="Demo2021Entities" connectionString="metadata=res://*/Model.Demo2021.csdl|res://*/Model.Demo2021.ssdl|res://*/Model.Demo2021.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CORC71K\SQLEXPRESS;initial catalog=Demo2021;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>